sql=	{
	IgnoreConnectionFastCSharp:true,
	tableNameDepth:3,
	checkConnection:["Demo"]
	}
sql.connection.Demo=
	{
	Type:"Sql2012",
	Connection:"server=127.0.0.1;database=fastCSharpDemo;uid=demo;pwd=demo"
	}
code.cSharp.tcpServer.DataReader=
	{
	IsServer:true,
	Host:"127.0.0.1",
	Port:12345,
	VerifyString:"1"
	}
code.cSharp.tcpServer.DataWriter=
	{
	IsServer:true,
	Host:"127.0.0.1",
	Port:12346,
	VerifyString:"1"
	}
code.cSharp.tcpServer.DataLog=
	{
	IsServer:true,
	Host:"127.0.0.1",
	Port:12347,
	VerifyString:"1"
	}