http=	{
	receiveSeconds:0,
	keepAliveReceiveSeconds:0,
	AcceptThreadCount:0
	}
code.cSharp.tcpServer.loadBalancingTestLoadBalancing=
	{
	IsServer:true,
	Host:"127.0.0.1",
	Port:12345,
	VerifyString:"1"
	}
demo.loadBalancingTcpCommandWeb.webConfig.config=
	{
	Domain:"127.0.0.1:8101",
	ClientCountPerCPU:256,
	IsKeepAlive:false,
	IsStartClient:true,
	IsClient:false
	}